---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">{{ page.title }}</h3>
    <div style="text-align: justify"> This tutorial is part of the ZL-LVC (Zero-Latency Linear Video Coding) project, ANR AAPG2020 (ANR-20-CE25-0014). 
    Fundings received through this project are gratefully acknowledged.
    </div><br>
    <div style="text-align: center"> <img src="assets/img/anr.jpg" width="200" height="200" align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="assets/img/logo_v1.png" width="250" height="100" align="center"></p>
    </div><br>
    <div style="text-align: justify"> This work has been made possible with the help of several people, acknowledged hereafter: <br>
    <ul>
    <li>Dr. Mohamed Gharbi</li>
    <li>Pr. Patrick Corlay</li>
    <li>Ms. Hind Kanj</li>
    <li>Dr. Zheng Chen</li>
    <li>M. Farid Mihoub</li>
    <li>Dr. Shuo Zheng</li>
    </ul>
    </div><br>
  </div>
</div>
